所有图片/主页（新建任务）_slices/logo.png
所有图片/主页（新建任务）_slices/logo@2x.png
所有图片/主页（新建任务）_slices/分割.png
所有图片/主页（新建任务）_slices/分割@2x.png
所有图片/主页（新建任务）_slices/关闭.png
所有图片/主页（新建任务）_slices/关闭@2x.png
所有图片/主页（新建任务）_slices/红灯.png
所有图片/主页（新建任务）_slices/红灯@2x.png
所有图片/主页（新建任务）_slices/绿灯.png
所有图片/主页（新建任务）_slices/绿灯@2x.png
所有图片/主页（新建任务）_slices/任务1.png
所有图片/主页（新建任务）_slices/任务1@2x.png
所有图片/主页（新建任务）_slices/任务2.png
所有图片/主页（新建任务）_slices/任务2@2x.png
所有图片/主页（新建任务）_slices/设置1.png
所有图片/主页（新建任务）_slices/设置1@2x.png
所有图片/主页（新建任务）_slices/设置2.png
所有图片/主页（新建任务）_slices/设置2@2x.png
所有图片/主页（新建任务）_slices/系统参数1.png
所有图片/主页（新建任务）_slices/系统参数1@2x.png
所有图片/主页（新建任务）_slices/系统参数2.png
所有图片/主页（新建任务）_slices/系统参数2@2x.png
所有图片/主页（新建任务）_slices/下拉.png
所有图片/主页（新建任务）_slices/下拉@2x.png
所有图片/主页（新建任务）_slices/新建1.png
所有图片/主页（新建任务）_slices/新建1@2x.png
所有图片/主页（新建任务）_slices/新建2.png
所有图片/主页（新建任务）_slices/新建2@2x.png
所有图片/主页（新建任务）_slices/用户icon.png
所有图片/主页（新建任务）_slices/用户icon@2x.png
